.solution-section {
    background-color: #2e2f42;
}

.sol-paragraph {
    font-style: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.solution-section {
    color: #2e2f42;
}

.effective-solutions {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.primary-button {
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    color: #404bbf
}

.primary-button:hover:focus {
    color: #404bbf
}

.section-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.studio-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.studio-header ul{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0px 76px;
}

.header-adress-all ul {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.strategy-section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}
.our-team-section ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.portfolio-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-flex li{
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-flex img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}