body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
a {text-decoration: none}

.title-span-studio {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-header-first {
  color: #2e2f42;
}
.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio-header-first:hover {
  color: #404bbf;
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}
.header-adress-all { 
  font-style: normal;
}
.header-adress-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-adress-info:hover {
  color: #404bbf;
}
.header-adress-info:focus {
color: #404bbf;}
.solution-section {
background-color:#2e2f42;}
.sol-paragraph{
  font-style: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.solution-section{
  color: #2e2f42;
}
.effective-solutions{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.primary-button {
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4D5AE5;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  transition: background-color 0.3s ease;
}
.primary-button:hover {
  color:#404bbf
}
.primary-button:hover:focus {
  color:#404bbf
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}